<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiniaobao.service.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.cuiniaobao.service.model.Admin">
        <id property="adminId" column="admin_id" />
        <result property="adminName" column="admin_name" />
        <result property="adminPhone" column="admin_phone" />
        <result property="adminEmail" column="admin_email" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="createDate" column="create_date" />
        <result property="isLocked" column="is_locked" />
        <result property="lastLockDate" column="last_lock_date" />
        <result property="loginTimes" column="login_times" />
        <result property="lastLoginDate" column="last_login_date" />
        <result property="lastLoginIp" column="last_login_ip" />
    </resultMap>

    <insert id="insert" parameterType="com.cuiniaobao.service.model.Admin" useGeneratedKeys="true" keyProperty="adminId">
        INSERT INTO admin(
            admin_name,
            admin_phone,
            admin_email,
            username,
            password,
            create_date
        ) VALUES (
            #{adminName},
            #{adminPhone},
            #{adminEmail},
            #{username},
            #{password},
            NOW()
        )
    </insert>

    <update id="deleteById" parameterType="Long">
        UPDATE admin
        SET is_active = 0
        WHERE admin_id = #{_parameter}
    </update>

    <update id="updateSelect" parameterType="com.cuiniaobao.service.model.Admin">
        UPDATE admin
        <set>
            <if test="adminName != null">admin_name = #{adminName},</if>
            <if test="adminPhone != null">admin_phone = #{adminPhone},</if>
            <if test="adminEmail != null">admin_email = #{adminEmail},</if>
            <if test="password != null">password = #{password}</if>
        </set>
        WHERE admin_id = #{adminId}
    </update>

    <update id="updateLockOrNot" parameterType="com.cuiniaobao.service.model.Admin">
        UPDATE admin
        SET is_locked = #{isLocked},
            last_lock_date = NOW()
        WHERE admin_id = #{adminId}
    </update>

    <update id="updateLogin" parameterType="com.cuiniaobao.service.model.Admin">
        UPDATE admin
        SET login_times = login_times + 1,
            last_login_date = NOW(),
            last_login_ip = #{lastLoginIp}
        WHERE admin_id = #{adminId}
    </update>

    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            admin_id,
            admin_name,
            admin_phone,
            admin_email,
            username,
            password,
            create_date,
            is_locked,
            last_login_date,
            login_times,
            last_login_date,
            last_login_ip
        FROM admin
        WHERE admin_id = #{_parameter} AND is_active = 1
    </select>

    <select id="selectByLoginName" parameterType="String" resultMap="BaseResultMap">
        SELECT
            admin_id,
            password,
            is_locked
        FROM admin
        WHERE (username = #{_parameter} OR admin_phone = #{_parameter} OR admin_email = #{_parameter}) AND is_active = 1
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            admin_id,
            admin_name,
            admin_phone,
            admin_email,
            username,
            password,
            create_date,
            is_locked,
            last_login_date,
            login_times,
            last_login_date,
            last_login_ip
        FROM admin
        WHERE is_active = 1
    </select>

</mapper>