<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiniaobao.service.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.cuiniaobao.service.model.Product">
        <id property="productId" column="product_id" />
        <result property="productName" column="product_name" />
        <result property="productSex" column="product_sex" />
        <result property="productBirthday" column="product_birthday" />
        <result property="customerPhone" column="customer_phone" />
        <result property="customerEmail" column="customer_email" />
        <result property="cidType" column="cid_type" />
        <result property="cidNumber" column="cid_number" />
        <result property="priority" column="priority" />
        <result property="customerId" column="customer_id" />
        <result property="totalPolicyNumber" column="total_policy_number" />
        <result property="totalPolicyAmount" column="total_policy_amount" />
    </resultMap>

    <insert id="batchInsert" parameterType="com.cuiniaobao.service.model.Product">
        INSERT INTO product(
            product_name,
            product_sex,
            product_birthday,
            customer_phone,
            customer_email,
            cid_type,
            cid_number,
            total_policy_number,
            total_policy_amount
        ) VALUES
        <foreach collection="List" item="product" open="(" close=")" separator=",">
            #{productName},
            #{productSex},
            #{productBirthday},
            #{customerPhone},
            #{customerEmail},
            #{cidType},
            #{cidNumber},
            #{totalPolicyNumber},
            #{totalPolicyAmount}
        </foreach>
    </insert>

    <update id="updateSelect" parameterType="com.cuiniaobao.service.model.Product">
        UPDATE product
        SET
        <if test="productName != null">product_name = #{productName},</if>
        <if test="productSex != null">product_sex = #{productSex},</if>
        <if test="productBirthday != null">product_birthday = #{productBirthday} </if>
        WHERE product_id = #{productId}
    </update>

    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            product_id,
            product_name,
            product_sex,
            product_birthday,
            customer_phone,
            customer_email,
            cid_type,
            cid_number,
            customer_id,
            total_policy_number,
            total_policy_amount
        FROM product
        WHERE product_id = #{_parameter} AND is_active = 1
    </select>

    <select id="selectByCustomerId" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            product_id,
            product_name,
            product_sex,
            product_birthday,
            customer_phone,
            customer_email,
            cid_type,
            cid_number,
            customer_id,
            total_policy_number,
            total_policy_amount
        FROM product
        WHERE customer_id = #{_parameter} AND is_active = 1
        ORDER BY priority ASC
    </select>

</mapper>