<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiniaobao.service.mapper.ProductRateMapper">

    <resultMap id="BaseResultMap" type="com.cuiniaobao.service.model.ProductRate">
        <id property="productRateId" column="productRate_id" />
        <result property="productRateName" column="productRate_name" />
        <result property="productRateSex" column="productRate_sex" />
        <result property="productRateBirthday" column="productRate_birthday" />
        <result property="customerPhone" column="customer_phone" />
        <result property="customerEmail" column="customer_email" />
        <result property="cidType" column="cid_type" />
        <result property="cidNumber" column="cid_number" />
        <result property="priority" column="priority" />
        <result property="customerId" column="customer_id" />
        <result property="totalPolicyNumber" column="total_policy_number" />
        <result property="totalPolicyAmount" column="total_policy_amount" />
    </resultMap>

    <insert id="batchInsert" parameterType="com.cuiniaobao.service.model.ProductRate">
        INSERT INTO productRate(
            productRate_name,
            productRate_sex,
            productRate_birthday,
            customer_phone,
            customer_email,
            cid_type,
            cid_number,
            total_policy_number,
            total_policy_amount
        ) VALUES
        <foreach collection="List" item="productRate" open="(" close=")" separator=",">
            #{productRateName},
            #{productRateSex},
            #{productRateBirthday},
            #{customerPhone},
            #{customerEmail},
            #{cidType},
            #{cidNumber},
            #{totalPolicyNumber},
            #{totalPolicyAmount}
        </foreach>
    </insert>

    <update id="updateSelect" parameterType="com.cuiniaobao.service.model.ProductRate">
        UPDATE productRate
        SET
        <if test="productRateName != null">productRate_name = #{productRateName},</if>
        <if test="productRateSex != null">productRate_sex = #{productRateSex},</if>
        <if test="productRateBirthday != null">productRate_birthday = #{productRateBirthday} </if>
        WHERE productRate_id = #{productRateId}
    </update>

    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            productRate_id,
            productRate_name,
            productRate_sex,
            productRate_birthday,
            customer_phone,
            customer_email,
            cid_type,
            cid_number,
            customer_id,
            total_policy_number,
            total_policy_amount
        FROM productRate
        WHERE productRate_id = #{_parameter} AND is_active = 1
    </select>

    <select id="selectByCustomerId" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            productRate_id,
            productRate_name,
            productRate_sex,
            productRate_birthday,
            customer_phone,
            customer_email,
            cid_type,
            cid_number,
            customer_id,
            total_policy_number,
            total_policy_amount
        FROM productRate
        WHERE customer_id = #{_parameter} AND is_active = 1
        ORDER BY priority ASC
    </select>

</mapper>