<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiniaobao.api.mapper.PlanMapper">

    <resultMap id="BaseResultMap" type="com.cuiniaobao.api.model.Plan">
        <id property="planId" column="plan_id" />
        <result property="planName" column="plan_name" />
        <result property="planStatus" column="plan_status" />
        <result property="createDate" column="create_date" />
    </resultMap>


    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            plan_id, plan_name, plan_status, create_date
        FROM plan
        WHERE plan_id = #{_parameter} AND is_active = 1
    </select>


</mapper>